.about-container {
  margin: 6rem auto 3rem;
  max-width: 800px;
  padding: 1rem;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  border-radius: 30px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.tab {
  flex: 1;
  text-align: center;
  padding: 0.8rem 0;
  cursor: pointer;
  font-family: "Bold";
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 30px;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .tab-pane.active {
  display: block;
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tab-poster {
  width: 80%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.info-text1 p {
  margin: 0.3rem 0;
}

.content1-1,
.content2-1,
.content3 {
  margin-top: 1.5rem;
  line-height: 1.6;
}

#radio-map {
  width: 100%;
  margin: 1rem 0;
  border-radius: 12px;
}
