@font-face {
  font-family: "Bold";
  src: url(../fonts/SUIT-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Regular";
  src: url(../fonts/SUIT-Regular.otf) format("opentype");
}

.about-container {
  margin: 6rem auto 3rem;
  max-width: 800px;
  padding: 1rem;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  border-radius: 30px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4); /* 검은 불투명 */
  backdrop-filter: blur(5px);
  color: white;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 0.8rem 0;
  cursor: pointer;
  font-family: "Bold";
  background-color: transparent;
  transition: background-color 0.3s ease;
  color: white;
}

.tab.active {
  background-color: black;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 30px;
  font-family: "Regular";
  max-height: 600px;
  overflow-y: auto;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .tab-pane.active {
  display: block;
}

.content1 {
  display: flex;
  flex-direction: row; /* 나란히 배치 */
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

#tab-poster {
  width: 200px;
  border-radius: 14px;
  flex-shrink: 0;
}

.info-text1 {
  flex: 1;
}

.info-text1 p {
  margin: 0.3rem 0;
}

.content1-1,
.content2-1,
.content3 {
  margin-top: 1.5rem;
  line-height: 1.6;
}

#radio-map {
  width: 100%;
  margin: 1rem 0;
  border-radius: 12px;
}
