@font-face {
  font-family: "ExtraBold";
  src: url(../fonts/SUIT-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Regular";
  src: url(../fonts/SUIT-Regular.otf) format("opentype");
}

.sponsor-box {
  display: grid;
  grid-template-rows: auto 1fr; 
  gap: 20px;
  padding-bottom: 48px;
  width: 100%;
  height: 100%;
}

.sponsor-list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 12px; 
  column-gap: 11px;
  margin: 30px 30px;

  justify-items: center; 
  align-items: center; 
}

/* 배경 이미지 변수로 설정*/
.st      { --bg: url("../images/StMusicBand.png"); }
.first   { --bg: url("../images/퍼스트삼성안과.png"); }
.rockzip { --bg: url("../images/록집.png"); }
.nadeul  { --bg: url("../images/나들목.png"); }

.sponsor-item{
  all: unset; /* 버튼 기본 스타일 제거*/
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 66px;    

  border-radius: 15px;
  background-image: linear-gradient(0deg, rgba(0,0,0,.40), rgba(0,0,0,.40)), var(--bg);
  background-size: cover, cover;
  background-position: center, center;
  position: relative;
  overflow: hidden; /*요소 밖으로 삐져나온 자식 요소나 배경이 잘리도록*/
  box-shadow: 5px 5px 10px rgba(0,0,0,0.25);

  font-family: ExtraBold;
  font-size: 13px;
  color: white;
}

.sponsor-item.active {
  outline: 2px solid white;
  /* 클릭 순간 살짝 축소 */
  /*transform: scale(0.98);*/
}

.sponsor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 30px;
  height: 100%;

  color: black;
  border-radius: 15px;
  /* background-color: white; */
  background: rgba(255, 255, 255, 0.4);
}

.sponsor-name {
  font-family: ExtraBold;
  font-size: 18px;
}
.sponsor-addr {
  font-family: Regular;
  font-size: 13px;  
}
.sponsor-image {
  height: 120px;
  aspect-ratio: 253/108;
  border-radius: 8px;
  overflow: hidden; /* 둥근 모서리 밖 내용 잘라냄 */
  margin: 18px 0px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);  
}
.sponsor-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 잘려도 비율 유지 */
  -webkit-user-drag: none; /* 이미지 드래그 방지 */
}
.sponsor-link {
  color: inherit;        
  font-family: Regular;
  font-size: 10px;    
}