@font-face {
  font-family: "Bold";
  src: url(../fonts/SUIT-Bold.otf) format("opentype");
}
@font-face {
  font-family: "ExtraBold";
  src: url(../fonts/SUIT-ExtraBold.otf) format("opentype");
}
@font-face {
  font-family: "Regular";
  src: url(../fonts/SUIT-Regular.otf) format("opentype");
}

.st      { background-image: url(../images/StMusicBand.png); }
.first    { background-image: url(../images/퍼스트삼성안과.png); }
.rockzip { background-image: url(../images/록집.png); }
.nabok   { background-image: url(../images/나들목.png); }
