@font-face {
  font-family: "Bold";
  src: url(../fonts/SUIT-Bold.otf) format("opentype");
}
@font-face {
  font-family: "ExtraBold";
  src: url(../fonts/SUIT-ExtraBold.otf) format("opentype");
}
@font-face {
  font-family: "Regular";
  src: url(../fonts/SUIT-Regular.otf) format("opentype");
}

main { /* 가로 세로 중앙 */
  display: inline-flex;             
  align-items: center;       
  justify-content: center;    
}